@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-image: url("../bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #eee;
}
table,
th {
  border: 2px solid #eee;
  padding: 10px 30px;
}
td {
  border: 2px solid #eee;
  padding: 0px 10px;
}
header nav {
  background-color: rgba(96, 96, 96, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  height: 50px;
}

#asac {
  text-align: center;
  width: 120%;
  text-align: center;
  margin: auto;
}

#headerTabs {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  color: #eee;
}

header nav div a {
  color: #eee;
  text-decoration: none;
}

#tableSection {
  background-color: rgba(96, 96, 96, 0.6);
  margin: 20px;
}
#studentForm fieldset {
  background-color: rgba(96, 96, 96, 0.6);
  margin: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

main {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

#studentForm fieldset label {
  padding: 10px;
}

input {
  width: 170px;
  height: 25px;
  border-radius: 15px;
  outline: none;
  border: none;
}

#tableSection h3 {
  padding: 10px;
  margin: 18px;
}

button,
#submitButton {
  font-weight: 900;
  color: #eee;
  width: auto;
  margin: 15px;
  padding: 10px;
  background-color: rgba(76, 96, 96, 0.8);
  border-radius: 20px;
  border: none;
  outline: none;
}

#total,
#tableSection h3 {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

select {
  border: none;
  outline: none;
  width: 150px;
  height: 25px;
  font-family: "Roboto", sans-serif;
}
